

body {


     background-color:#FDF2E9  ;
     font-family: georgia;
}

label
{
    display: block;
    padding-bottom: 1rem;
}


h1
{
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
    color: #873600;
}



.main-container
{

    margin-left: 37%;
    padding-top: 30px;

}



label
{

    color: white;
}


input
{
    width: 380px;
    height: 33px;
    /* background-color: rgb(49, 49, 49); */
    /* color: white; */
      border-radius: 10px;

}



#submit-btn
{
    margin-top: 20px;
    width: 380px;
    height: 39px;
    border-radius: 3px;
    background-color:#D35400;
    border-style: none;
    color: white;
    font-size: large;

}


#output-box
{
    margin-top: 30px;
    color: #D35400;
    font-size: 20px;
    margin-left: 36px;.
}
