

body {


     background-color:#FDF2E9  ;
     font-family: georgia;
}

label
{
    display: block;
    padding-bottom: 1rem;
}


h1
{
     margin-left: 39%;
    font-size: 39px;
    margin-top: 80px;
    color: #873600;
}



.main-container
{

    margin-left: 41%;
    padding-top: 10px;

}



label
{

    color: white;
}


input
{
    width: 380px;
    height: 33px;
    /* background-color: rgb(49, 49, 49); */
    /* color: white; */
      border-radius: 10px;

}



#submit-btn
{
    margin-top: 20px;
    width: 380px;
    height: 39px;
    border-radius: 8px;
    background-color:#D35400;
    border-style: none;
    color: white;
    font-size:27px;

}


#output-box
{
    margin-top: 30px;
    color: #D35400;
    font-size: 20px;
    margin-left: 36px;
}



.active
{
    
     border: 1px solid #D35400;;
    width: 372px;
    text-align: center;
    padding-top: 8px;
    height: 24px;
    border-radius: 8px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #D35400;
  
}